html {
margin: 0;
padding: 0;
font-family:"Microsoft YaHei","微软雅黑",Arial,sans-serif,"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB";
position: relative;
height: 100vh;
}
body,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
font-weight: 400;
margin: 0;
padding: 0;
border:0;
outline: none;
}
h1,
h2,
h3,
h4,
h4,
h5 {
margin: 0;
padding: 0;
}
body {
background-color: #fff;
color: #666666;
font-family: Helvetica, Arial, sans-serif;
font-size: 12px;
text-align: left;
position: absolute;
overflow-x: hidden;
overflow-y: scroll;
height: auto;
}
select {
font-size: 12px;
}
table {
border-collapse: collapse;
}
fieldset,
img {
border: none;
}
fieldset {
margin: 0;
padding: 0;
}
fieldset p {
margin: 0;
padding: 0008px;
}
legend {
display: none;
}
address,
caption,
em,
strong,
th,
i {
font-style: normal;
font-weight: 400;
}
table caption {
margin-left: -1px;
}
hr {
border-bottom: 1pxsolid#FFFFFF;
border-top: 1pxsolid#E4E4E4;
border-width: 1px0;
clear: both;
height: 2px;
margin: 5px0;
overflow: hidden;
}
ol,
ul {
list-style-image: none;
list-style-position: outside;
list-style-type: none;
}
caption,
th {
text-align: left;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
content: ””;
}
input::-webkit-input-placeholder{
	color:#999;
}
input::-moz-input-placeholder{
	color:#999;
}
input:-moz-input-placeholder{
	color:#999;
}
input::-ms-input-placeholder{
	color:#999;
}
.van-nav-bar.van-hairline--bottom:after{
  border-bottom-width:0;
}
.van-icon.van-icon-arrow-left.van-nav-bar__arrow{
  color:#333;
  font-size: 17PX;
  font-weight: bold;
}
.van-nav-bar__title.van-ellipsis{
  color:#333;
  font-weight: bold;
  font-size: 17PX;
}